.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .socialIcons {
    margin-top: 10px;
  }
  
  .socialIcons a {
    color: #fff;
    margin: 0 10px;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  /* Responsive styles */
  
  @media (max-width: 768px) {
    .footerContent {
      text-align: center;
    }
  }